{% extends 'base.html' %}
{% load static %}

{% block main_section %}

    <main>
        <!-- First Pizza Element -->
        {% for desert in object_list %}
            <section class="product-menu-section">
                <div class="product-element">
                    <img src="/media/{{ desert.image }}" alt="desert-img">
                    <p>{{ desert.name }}</p>
                    <p>{{ desert.description|truncatechars:50 }}</p>
                    <a href="{% url 'desert_details' slug=desert.slug %}" class="shopping-cart">Details</a>
                </div>
            </section>
        {% endfor %}
    </main>

{% endblock %}