{% extends 'base.html' %}
{% load static %}

{% block main_section %}

    <main class="products-dessert-section">
        <!-- First Pizza Element -->
        <section class="product-menu-section">
            {% for desert in object_list %}
                <div>
                    <div class="product-element">
                        <img src="{{ desert.image.url }}" alt="desert-img">
                        <p>{{ desert.name }}</p>
                        <p>{{ desert.description|truncatechars:50 }}</p>
                        <a href="{% url 'desert_details' slug=desert.slug %}" class="shopping-cart">Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}