{% extends 'base.html' %}
{% load static %}

{% block main_section %}

    <main class="products-main-section">
        <!-- First Pizza Element -->
        <section class="product-menu-section">
            {% for drink in object_list %}
                <div>
                    <div class="product-element">
                        <img src="{{ drink.small_image.url }}" alt="drink-img">
                        <p>{{ drink.name }}</p>
                        <p>{{ drink.description|truncatechars:50 }}</p>
                        <a href="{% url 'drink_details' slug=drink.slug %}" class="shopping-cart">Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}