{% extends 'base.html' %}
{% load static %}

{% block main_section %}

    <main class="products-pizza-section">
        <!-- First Pizza Element -->
        <section class="product-menu-section">
            {% for pizza in object_list %}
                <div>
                    <div class="product-element">
                        <img src="{{ pizza.image.url }}" alt="pizza-img">
                        <p>{{ pizza.name }}</p>
                        <p>{{ pizza.description|truncatechars:50 }}</p>
                        <a href="{% url 'pizza_details' slug=pizza.slug %}" class="shopping-cart">Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}