{% extends 'base.html' %}
{% load static %}

{% block main_section %}

    <main>
        <!-- First Pizza Element -->
        {% for salad in object_list %}
            <section class="product-menu-section">
                <div class="product-element">
                    <img src="/media/{{ salad.image }}" alt="salad-img">
                    <p>{{ salad.name }}</p>
                    <p>{{ salad.description|truncatechars:50 }}</p>
                    <a href="{% url 'salad_details' slug=salad.slug %}" class="shopping-cart">Details</a>
                </div>
            </section>
        {% endfor %}
    </main>

{% endblock %}