{% extends 'base.html' %}
{% load static %}

{% block main_section %}

    <main class="products-salad-section">
        <!-- First Pizza Element -->
        <section class="product-menu-section">
            {% for salad in object_list %}
                <div>
                    <div class="product-element">
                        <img src="{{ salad.image.url }}" alt="salad-img">
                        <p>{{ salad.name }}</p>
                        <p>{{ salad.description|truncatechars:50 }}</p>
                        <a href="{% url 'salad_details' slug=salad.slug %}" class="shopping-cart">Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}