.profile-header {
    height: 140px;
}


.profile-details {
    display: flex;
    gap: 20px;
    justify-content: center;
    border: 1px solid black;
    width: 60%;
    margin: auto;
    background-color: grey;
    padding: 10px 20px;

}

.profile-details .image {
    width: 280px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-btn {
    background-color: #e2213d;
    color: white;
    text-align: center;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.profile-details .image .upload a,
.profile-details .image .upload input[type='checkbox'],
.profile-details .image .upload label[for='image-clear_id'] {
    display: none;
    content: none;
}

.custom-upload-button {
    /* Apply desired background color and styling */
    background-color: #e2213d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/*#id_image {*/
/*    display: none;*/
/*}*/

.button-text {
    /* Style the button text */
    font-size: 16px;
    font-weight: bold;
}

.file-name {
    /* Style the chosen file text */
    margin-left: 10px;
}

.profile-details #register-page {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    gap: 20px;
}

.first-name,
.last-name,
.phone,
.email {
    /* display: flex;
    flex-direction: column; */
    width: 50%;
}

.name-wrapper,
.contact-wrapper {
    display: flex;
    gap: 50px;
}

.profile-navigation ul li a {
    text-align: center;
    font-size: 22px;
    width: 100%;
    height: 100%;
}


.profile-navigation ul li {
    width: 100%;
    height: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-navigation ul {
    gap: 10px;
    width: 1200px;
    margin: auto;
}

.wrap-box {
    padding: 5px;
    width: 700px;
}

.wrap-box h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.order-history {
    margin-top: 60px;
    margin-bottom: 360px;
}

.order-history ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: none;
    border-radius: 8px;
}

.order-history ul li {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid black;
    width: 80%;
    /*height: 80px;*/
    background-color: lightgrey;
    margin: auto;
    padding: 10px 18px;
}

.order-history ul > :first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.order-history ul > :last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

.repeat-order {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    width: 70px;
    background-color: lightgreen;
}

.repeat-order:hover {
    box-shadow: 0 0 15px black;
    transition: 0.5s;
    transform: scale(1.025);
}

.repeat-order img {
    width: 100%;
}

.pagination {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.current-page {
    font-size: 20px;
}

.product_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 80px;
}

.product_wrapper h2 {
    font-weight: 500;
    font-size: inherit;
    padding: 20px 0px;
    margin-right: 20px;
}

.wrap-box-delete {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.wrap-box-delete h1 {
    font-size: 30px;
    color: white;
}

.wrap-box-delete a {
    font-size: 20px;
}

.confirm-text {
    font-size: 16px;
    color: white;
    margin: 50px;
}

.cart {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -8px;
    left: -5px;
    background: coral;
    line-height: 24px;
    padding: 0 5px;
    height: 24px;
    min-width: 24px;
    color: white;
    border-radius: 24px;
    text-align: center;
}

.cart-item {
    font-size: 15px;
}