{% extends 'base-profile.html' %}
{% load static %}

{% block profile_main %}

    <section class="form-wrapper">
        <form id="change-password" method="post" action="{% url 'change_password' request.user.pk %}">
            <div class="wrap-box">
                <h1>Change Password</h1>

                {% for error in form.non_field_errors %}
                    <div class="error-wrapper">
                        <img class="close-img" src="{% static 'images/close.png' %}" alt="">
                        <span class="register-error">{{ error }}</span>
                    </div>
                {% endfor %}

                <label for="old-pass">Old Password:</label>
                {{ form.old_password }}
                {% for error in form.old_password.errors %}
                    <div class="error-wrapper">
                        <img class="close-img" src="{% static 'images/close.png' %}" alt="">
                        <span class="register-error">{{ error }}</span>
                    </div>
                {% endfor %}
                {#<input type="text" name="old-pass" maxlength="50" required="" id="old-pass">#}

                <label for="new-pass">New Password:</label>
                {{ form.new_password1 }}
                {% for error in form.new_password1.errors %}
                    <div class="error-wrapper">
                        <img class="close-img" src="{% static 'images/close.png' %}" alt="">
                        <span class="register-error">{{ error }}</span>
                    </div>
                {% endfor %}
                {#<input type="text" name="new-pass" maxlength="50" required="" id="new-pass">#}

                <label for="new-pass-repeat">Repeat New Password:</label>
                {{ form.new_password2 }}
                {% for error in form.new_password2.errors %}
                    <div class="error-wrapper">
                        <img class="close-img" src="{% static 'images/close.png' %}" alt="">
                        <span class="register-error">{{ error }}</span>
                    </div>
                {% endfor %}

                {# <input type="text" name="new-pass-repeat" maxlength="50" required="" id="new-pass-repeat">#}
                {#{{ form }}#}

                <input class="btn submit" type="submit" value="Edit Profile">
                {% csrf_token %}
            </div>
        </form>
    </section>

{% endblock %}