{% extends 'base-profile.html' %}

{% block profile_main %}

    <section class="order-history">
        <ul>
            <li>
                <p>
                    20.07.2023
                </p>
                <p>
                    Some order description
                </p>
            </li>

            <li>
                <p>
                    20.07.2023
                </p>
                <p>
                    Some order description
                </p>
            </li>

            <li>
                <p>
                    20.07.2023
                </p>
                <p>
                    Some order description
                </p>
            </li>
        </ul>
    </section>

{% endblock %}