<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New registration</title>
</head>
<body>
<header>
    <h1>Hello {{ user.email }} !</h1>
</header>

<main>
    <div>
        Your registration was successful. In order to complete your registration, please fill out the personal
        information in your Profile.

        If you have any difficulties or questions, do not hesitate to contact us on +456 7755 775 or on
        email: mammamia.pizzeria.mia@gmail.com
    </div>
</main>

</body>
</html>