{% extends 'base.html' %}
{% load static %}

{% block main_section %}

    <main>
        <form action="{% url 'desert_details' slug=product.slug %}" method="post" enctype="multipart/form-data">
            <section class="product-details-container">
                <h2>
                    {{ product.name }}
                </h2>

                <div class="products">
                    <div class="img-wrapper">
                        <img src="/media/{{ product.image }}" alt="product-img">
                        <div class="description-wrap">
                            <p class="description">Description:</p>
                            <p>
                                {{ product.description }}
                            </p>
                        </div>
                    </div>
                    <div class="product-info-wrapper">
                        <div>
                            <p class="quantity-select">
                                Quantity:
                            <div class="quantity-wrapper">
                                <span class="minus">-</span>
                                <input type="text" name="quantity" value="{{ form.quantity.value|default:1 }}" min="1"
                                       max="10" step="1" readonly
                                       class="current-quantity">
                                <span class="plus">+</span>
                                <input type="hidden" value="{{ product.price }}" class="single">
                            </div>
                            </p>

                            <p class="price product-final-price">
                                Price: {{ product.price|floatformat:2 }}€
                            </p>

                            <ul class="all-sizes-prices single">
                                <li id="single">
                                    {{ product.price }}
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <input type="submit" class="shopping-cart product-btn" value="Add to cart">
                </div>
            </section>
            {% csrf_token %}
        </form>
    </main>

{% endblock %}